# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.sqlite3
db.sqlite3

# Env
.env
.env.local
.env.*.local

# Django
/backend/media/
/backend/staticfiles/

# Node
node_modules/
.next/
out/
.turbo/
*.tsbuildinfo

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Screenshots written by the e2e/shot scripts
/frontend/*.png
