DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_TIME_ZONE=Asia/Karachi
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
STORE_CURRENCY=PKR
